.list{
  padding: 0;
  margin: 6.25rem 0 0 0;
  .list-item{
    display: flex;
    margin: 6.25rem 0 6.25rem 0rem;
    .list-item-icon {
      width: 6.25rem;
      height: 6.25rem;
      margin-right: 2.25rem;
      flex-shrink: 0;
    }
    .list-item-content{
      flex: 1;
    }
  }
}