.list{
  $width: 4.25rem;
  $gap: 1.5rem;
  .list-item{
    display: flex;
    margin:  $gap 0  $gap 0rem;
    .list-item-icon {
      width: $width;
      height: $width;
      margin-right: $gap;
      flex-shrink: 0;
    }
    .list-item-content{
      flex: 1;
    }
  }
}