.card{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  @media screen and (max-width: 640px){
    &{
      grid-template-columns: 1fr;
    }
  }
  .link{
    text-decoration: none;
    color: var(--text);
  }
  .card-media{
    width: 100%;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    // background-color: var(--border-light);
  }
  .card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--border-variant);
    padding: 0.25rem 0;
    .title{
      margin-top: 0;
    }
    .link{
      color: var(--text-secondary);
      text-decoration: underline;
    }
  }
}