.auth-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 88vh;
  .auth-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .auth-form-footer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
    margin-top: 25px;
    color: var(--text);
    a{
      color: var(--text);
      text-decoration: none;
      text-decoration: underline;
    }
  }
}