.auth-page{
  height: 82vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .auth-title{
    padding: 2rem 0;
    text-align: center;
  }
  .auth-form{
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .auth-form-footer{
    gap: 1rem;
    display: grid;
    margin-top: 25px;
    text-align: center;
    color: var(--text);
    grid-template-columns: 1fr;
    a{
      color: var(--text);
      text-decoration: none;
      text-decoration: underline;
    }
  }
}