* {
  margin: 0;
  padding: 0; 
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root .light {
  --primary: rgba(215,113,88,1);
  --accent: #4BD3AD;
  --text: rgba(58,52,51,1);
  --text-secondary: rgba(58,52,51,0.7);
  --background: rgba(255,255,255,1);
  --background-backdrop: rgba(255,255,255, 0.75);
  --background-variant: rgba(251,249,249,1);
  --border: rgba(58,52,51,0.12);
  --border-light: rgba(58,52,51,0.05);
}


:root .dark {
  --primary: rgba(220,120,95,1);
  --accent: #4BD3AD;
  --text: rgba(241,233,231,1);
  --text-secondary: rgba(241,233,231,0.6);
  --background: rgba(0,0,0,1);
  --background-backdrop: rgba(0, 0, 0, 0.75);
  --background-variant: rgba(28,26,26,1);
  --border: rgba(241,233,231,0.15);
  --border-light: rgba(241,233,231,0.05);
}

.page-wrapper{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.primary{
  color: var(--text);
}
.secondary{
  color: var(--text-secondary);
}