.finance-chip-percent{
  text-decoration: none;
  color: inherit;
  display: flex;
  padding: 0px 10px 0 0;
  -webkit-box-align: center;
  box-align: center;
  align-items: center;
  background-color: var(--background);
  border-radius: 8px;
  white-space: nowrap;
  &.negative{
    background: var(--negative-light);
    color: var(--negative);
    svg{
      fill:  var(--negative);
      stroke:  var(--negative);
    }
  }
  &.positive{
    background: var(--positive-light);
    color: var(--positive);
    svg{
      fill:  var(--positive);
      stroke:  var(--positive);
    }
  }
  &.neutral{
    background: var(--neutral-light);
    color: var(--neutral);
    svg{
      fill:  var(--neutral);
      stroke:  var(--neutral);
    }
  }
  .arrow{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0px 6px 6px;
    .icon{
      font-weight: bold;
      display: flex;
    }
  }
  .details{
    font-weight: 400;
    line-height: 1rem;
    font-size: 0.9rem;
  }
}