.finance-chip{
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
  box-align: center;
  align-items: center;
  padding: 6px;
  background-color: var(--background);
  border-radius: 8px;
  border: 1px solid var(--border);
  white-space: nowrap;
  color: var(--text);
  .arrow{
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    .icon{
      font-weight: bold;
      display: flex;
    }
    &.negative{
      background: var(--negative-light);
      color: var(--negative);
      svg{
        fill:  var(--negative);
        stroke:  var(--negative);
      }
    }
    &.positive{
      background: var(--positive-light);
      color: var(--positive);
      svg{
        fill:  var(--positive);
        stroke:  var(--positive);
      }
    }
    &.neutral{
      background: var(--neutral-light);
      color: var(--neutral);
      svg{
        fill:  var(--neutral);
        stroke:  var(--neutral);
      }
    }
  }
  .details{
    min-width: 120px;
    letter-spacing: .025em;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;

    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;

    div:first-child{
      text-align: left;
    }
    div:last-child{
      text-align: right;
    }
    
    div{
      display: grid;
      grid-template-columns: 1fr;
      gap: 6px;
      span{
        white-space: nowrap;
        overflow: hidden;
        // text-overflow: ellipsis;
        &.negative{
          color: var(--negative);
        }
        &.positive{
          color: var(--positive);
        }
        &.neutral{
          color: var(--neutral);
        }
      }
      span:first-child{
        font-weight: bold;
      }
    }
  }
}