
.chip-list{
  display: flex;
  gap: 1rem;
  background: var(--shadow);
  flex-wrap: wrap;
  align-items: center;
}
.ticker-container{
  background: var(--shadow);
  align-items: center;
  display: flex;
}
.ticker-wrapper{
  max-width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .chip-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    gap: 0.5rem;
    &.loading{
      grid-template-columns: 1fr;
    }
  }
}